.bg-light, #menu{
    color: #E83E8C;
    background-color: #E83E8C;
}
.navbar-nav, .mr-auto, .i, li{
    text-align: right;
    color: #FFFFFF;
}
#titulo{
    margin-bottom: 5%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 8%;
    text-align: center;
    font: normal normal bold 60px/82px Open Sans;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
} 
body *{
    font-family: 'Open Sans', sans-serif;
    color: #373A3C;
    text-align: center;
}
.card{
    display: inline-flex;
    margin-bottom: 30%;
    margin-top: 30%;
    margin-right: 30%;
    margin-left: 30%;
    width: 25%;
    margin: 5%;
   

}
#tarjetas{
    background-color: #17a2b1;
    opacity: 1;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 6%;

}
#tarjeta{
    top: 1265px;
    left: 652px;
    width: 80px;
    height: 53px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: inline-flex;
}
#img{
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
}